@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme{

    /* Fonts */
    
    --font-montserrat : "Montserrat", sans-serif;
    --font-librefranklin : "Libre Franklin", sans-serif;

}


.bg-hero{
    background-image: linear-gradient(rgba(0,0,0,0.45)) , url('../images/header-hero/hero.jpg');
}

.flights-bg{
    background-image: linear-gradient(rgba(0,0,0,0.45)) , url('../images/flights-hotels/flights.jpg');
}

.hotels-bg{
    background-image: linear-gradient(rgba(0,0,0,0.45)) , url('../images/flights-hotels/hotels.jpg');
}

.hero-bg{
    background-image: url('../images/Flights-flow/flights-search/hero.jpg');
}


.bg-places{
    background-image: url('../images/Flights-flow/flights-search/places.png');
}